@model IEnumerable<RedditService_Data.Topic>
@{
    ViewBag.Title = "Index"; }
<h2>
    Index
</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Index
        </th>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Photo
        </th>
        <th>
        </th>
    </tr>
</table>